body{
background-image: url('https://images7.alphacoders.com/329/329832.jpg');
    background-size: cover;
}

.box{
    float: top-right;
    display: grid;
    width: 600px;
    height: 450px;
    margin: 150px auto;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(5,100px);
    opacity: 0.9;
    align-self: center;
    opacity: 0.7;
}

.btn{
    background-color: lightcoral;
    color: maroon;
    font-weight: bolder;
    font-size: x-large ;
    border-radius: 5px;
}



.btn:hover{
    cursor: pointer;
    background-color: lawngreen;
}

.scoreBox{
    color: seashell;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px auto;
    float: right;
    padding: 5px 5px;
}

#bestRecords{
    float: left;
    margin-right: 3rem;
    background-color: salmon;
    color: seagreen;
    padding: 5px 5px 5px;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

#time{
    background-color: thistle;
    border-radius: 4px;
    color: teal;
    padding-top: 3px;
    padding-left: 3px;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}

p{
    border: 5px solid salmon;
    padding: 5px 5px 5px 5px;
    margin-right: 5em;
}